body{
    background-color: #afc1c9;

}
header{
    width: 100vw;
    height:80px;
    background-color: #035b85;
    margin-left: -10px;
    margin-top: -10px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

@media only screen and (min-width: 768px) {
/* For Dmax-width: 768pxekstop Views */
.mobSideNavBarHide{
    display: none;
}
.dekstopSideNavBar{
    width: 190px;
    height:105vh;
    background-color: #0277ad;
    margin-left: 0px;
    margin-top: 10px;
    border-radius: 18px;
    position: absolute;
} 
.DekstopViewBuyBtn{
    position: absolute;
    width: 170px;
    height:50px;
    background-color: #87c7e3;
    margin-left: 10px;
    margin-top:15px;
    border-radius: 10px;
}
.DekstopViewBuyBtn:hover{
    position: absolute;
    width: 170px;
    height:50px;
    background-color: rgb(183, 182, 190);
    margin-left: 10px;
    margin-top:15px;
    border-radius: 10px;
}
.DekstopViewCustomerBtn{
    position: absolute;
    width: 170px;
    height:50px;
    background-color: #87c7e3;
    margin-left: 10px;
    margin-top:80px;
    border-radius: 10px;
}
.DekstopViewCustomerBtn:hover{
    position: absolute;
    width: 170px;
    height:50px;
    background-color: rgb(183, 182, 190);
    margin-left: 10px;
    margin-top:80px;
    border-radius: 10px;
}
.DekstopViewItemBtn{
    position: absolute;
    width: 170px;
    height:50px;
    background-color: #87c7e3;
    margin-left: 10px;
    margin-top:145px;
    border-radius: 10px;
}
.DekstopViewItemBtn:hover{
    position: absolute;
    width: 170px;
    height:50px;
    background-color: rgb(183, 182, 190);
    margin-left: 10px;
    margin-top:145px;
    border-radius: 10px;
}
.PlaceOrderForm{
    width: 80vw;
    height:1200px;
    background-color: rgb(119, 137, 162);
    position: absolute;
    left: 210px;
    top:90px;
    border-radius: 20px;
}
.PlaceOrderForm-addCustomer{
    width: 27vw;
    background-color: rgb(183, 182, 190);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 52vw;
    position: absolute;
}
.placeorderbtn{
    width: 27vw;
    margin-left: 52vw;
    margin-top: -8vh;
    position: absolute;
}
.PlaceOrderForm-Total{
    width: 27vw;
    height: 10vh;
    background-color: rgb(183, 182, 190);
    border-radius:20px;
    margin-top: -40vh;
    margin-left: 52vw;
    position: absolute;
}

.PlaceOrderForm-Balance{
    width: 27vw;
    height: 20vh;
    background-color: rgb(183, 182, 190);
    border-radius:20px;
    margin-top: -28vh;
    margin-left: 52vw;
    position: absolute;
}
.PlaceOrderForm-itemList{
    width: 50vw;
    height: 40vh;
    background-color: rgb(183, 182, 190);
    border-radius:20px;
    margin-left: 1vw;
}
.PlaceOrderForm-CartList{
    width: 50vw;
    height: 40vh;
    background-color: rgb(199, 222, 239);
    border-radius:20px;
    margin-top: 10px;
    margin-left: 1vw;
}
}

@media only screen and (max-width: 768px) {
    .mobSideNavBarHide{
        display: none;
    }
    .dekstopSideNavBar{
        display: none;
    }
    .mobSideNavBar{
        display: block;
        position: absolute;
        width: 20px;
        height:100vh;
        background-color: #0277ad;
        margin-left: -10px;
        margin-top: 5px;
        border-radius: 18px;
      
    }
    .mobSideNavBar:hover .mobSideNavBarHide{
        display: block;
    }
    .mobSideNavBarHide{
        width: 80px;
        height:105vh;
        background-color: #0277ad;
        margin-left: 0px;
        margin-top: -4px;
        border-radius: 18px;
    } 
    .sideMobileIcons{
        margin-top: 25px;
        margin-left: 15px;
    }
    .PlaceOrderForm{
        width: 85vw;
        height:1200px;
        background-color: rgb(119, 137, 162);
        position: absolute;
        left: 25px;
        top:85px;
        border-radius: 20px;
    }
    .PlaceOrderForm-addCustomer{
        width: 76vw;
        background-color: rgb(183, 182, 190);
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 5vw;
    }
    .PlaceOrderForm-itemList{
        width: 76vw;
        height: 40vh;
        background-color: rgb(183, 182, 190);
        border-radius:20px;
        margin-top: 10px;
        margin-left: 5vw;
        
    }
    .PlaceOrderForm-CartList{
        width: 76vw;
        height: 40vh;
        background-color: rgb(199, 222, 239);
        border-radius:20px;
        margin-top: 10px;
        margin-left: 5vw;
    }
    .PlaceOrderForm-Total{
        width: 76vw;
        height: 6vh;
        background-color: rgb(183, 182, 190);
        border-radius:20px;
        margin-top: 0px;
        margin-left: 5vw;
    }
    .PlaceOrderForm-Balance{
        width: 76vw;
        height:20vh;
        background-color: rgb(183, 182, 190);
        border-radius:20px;
        margin-top: 5px;
        margin-left: 5vw;
    }
    .placeorderbtn{
        margin-left: 5vw;
    }
   
 }

/* .PayementSection{
    width: 100vw;
    height:50px;

    border-radius: 2px;
    border-radius: 20px;
} */
/* .container-addCustomer{
    width: 90vw;
    background-color: rgb(183, 182, 190);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
.container-CartList{
    width: 100vw;
    height: 30vh;
    background-color: rgb(140, 140, 140);
    border-radius:20px;
    margin-top: 10px;
}
.container-CreateOrder{
    width: 100vw;
    height: 40vh;
    background-color: rgb(144, 141, 161);
    border-radius:20px;
}
ul{
    list-style-type: none; 
}
.container-CreateOrder-Cash{
    width: 100vw;
    height:20vh;
    background-color: rgb(222, 222, 225);
    border-radius:20px;
}
.btn btn-primary{
    width: 300px;
    height: 300px;
} */